apiVersion: v1
kind: List
metadata:
  name: secrets
items:
  - apiVersion: v1
    kind: Secret
    type: Opaque
    metadata:
      name: puppetca-certificates
    data:
      ca_crt.pem: >-
      ca_crl.pem: >-
      ca_key.pem: >-
