---
autosigning_mysql_host:
autosigning_mysql_user:
autosigning_mysql_password:
autosigning_mysql_database:
autosigning_mysql_port:
thycotic_username:
thycotic_password:
foreman_username:
foreman_password:

github_username:
github_password:
github_api_token:

cloud_puppetmaster_ca_key: |
  AABBCC

puppetmaster_ca_crt: |
  AABBCC

cloud_puppetmaster_ca_crl: |
  AABBCC

puppetmaster_crt: |
  AABBCC

puppetmaster_key: |
  AABBCC

redhat_registry_service_account: |
  AABBCC
